     body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh; 
        }
        header {
            background-color: black;
            color: white;
            padding: 20px;
            position: fixed; 
            width: 100%; 
            top: 0; 
            z-index: 1000; 
        }
        header h1 {
            margin: 0;
        }
        nav {
            float: right; 
            margin-top: -20px; 
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 50px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
        }
        main {
            flex: 1; 
            display: flex;
            flex-direction: column;
            padding-top: 80px; 
        }
        
        section#java {
            background-color: lightblue;
            background-image: url(/UF2-AA1/docs/images/1.svg); 
            background-repeat: no-repeat;
            background-position: right; 
            background-size: 20%; 
        }
        section#csharp {
            background-color: lightgreen;
            background-image: url(/UF2-AA1/docs/images/2.png); 
            background-repeat: no-repeat; 
            background-position: right; 
            background-size:20%; 
        }
        section#javascript {
            background-color: lightyellow;
            background-image: url(/UF2-AA1/docs/images/3.png); 
            background-repeat: no-repeat;
            background-position: right; 
            background-size: 20%; 
        }
        section#go {
            background-color: lightcoral;
            background-image: url(/UF2-AA1/docs/images/4.png); 
            background-repeat: no-repeat; 
            background-position: right; 
            background-size: 20%; 
        }
        section#ruby {
            background-color: lightsalmon;
            background-image: url(/UF2-AA1/docs/images/5.png); 
            background-repeat: no-repeat; 
            background-position: right; 
            background-size: 20%; 
        }
        section#python {
            background-color: lightseagreen;
            background-image: url(/UF2-AA1/docs/images/6.png); 
            background-repeat: no-repeat; 
            background-position: right;
            background-size: 20%; 
        }
        section {
            width: 85%; 
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
        }
        footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 20px;
        }